swagger: "2.0"
info:

  description: "Below are endpoints/functionalities which can aid in designing a TA queue for the UofU COE."
  version: "1.0.0"
  title: "Queue API for University of Utah College of Engineering"
  # termsOfService: "http://swagger.io/terms/"
  contact:
    email: "doublezane@gmail.com"
  # license:
  #   name: "Apache 2.0"
  #   url: "http://www.apache.org/licenses/LICENSE-2.0.html"

host: "suzie.eng.utah.edu"
basePath: "/blakeb/api"
schemes:
- "https"

# tags:
# - name: "pet"
#   description: "Everything about your Pets"
#   externalDocs:
#     description: "Find out more"
#     url: "http://swagger.io"
# - name: "store"
#   description: "Access to Petstore orders"
# - name: "user"
#   description: "Operations about user"
#   externalDocs:
#     description: "Find out more about our store"
#     url: "http://swagger.io"

paths:
  /login.php:
      post:
        summary: "Login a user."
        description: "Login a user with the specified CADE username and password."
        consumes:
          - "application/x-www-form-urlencoded"
        produces:
          - "application/json"

        parameters:
        - name: "username"
          in: "formData"
          description: "CADE username"
          required: "true"
          type: "string"
        - name: "password"
          in: "formData"
          description: "CADE password"
          required: "true"
          type: "string"

        responses:
          200:
            description: "OK"
          405:
            description: "Invalid input"





































#openapi: 3.0.0
#info:
#  title: Queue API for University of Utah College of Engineering
#  description: Below are endpoints/functionalities which can aid in designing a queue for the UofU COE.
#  version: 1.0.0
#
#servers:
#  - url: https://suzie.eng.utah.edu/blakeb/api
#    description: API endpoints are located here and in subdirectories.
#
#
## HERE'S A GOOD TUTORIAL FOR A SWAGGER SPEC:
##     https://swagger.io/docs/specification/basic-structure/
#
## I BELIEVE THE ONLY PARAMETERS TO SPECIFY FOR THESE ENDPOINTS ARE COOKIES
#
#
#paths:
#  /login.php:
#    post:
#      summary: Login
#      description: Login a user with the specified CADE credentials
#      requestBody:
#        required: true
#        content:
#          formData:
#            # CAN'T FIGURE THIS PART OUT
#
#      responses:
#        '200':    # status code
#          description: A JSON array of user data
#          content:
#            application/json:
#              schema:
#                type: array
#                items:
#                  type: string